.anime {
  height: auto;
}

.swiper {
  margin-top: 100px;
  height: 100%;
  width: 100%;
}

.swiper-slide {
  position: relative;
  font-size: 10px;
  background: #eee;
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

.swiper-slide h2 {
  margin: 10px 5px;
}

.swiper-slide img {
  display: block;
  max-width: 150%;
  object-fit: cover;
  border-radius: 0.5rem;
  padding-top: 15px;
}

.swiper-slide:hover {
  background: gold;
  transition: 0.5s ease-in-out;
}

#button {
  color: var(--red-color);

  line-height: 45px;
}

.swiper-slide .rating {
  display: flex;
  position: absolute;
  top: 8%;
  background: var(--red-color);
  left: 6%;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: gold;
}

.swiper-slide .rating h4 {
  margin-right: 10px;
  font-size: 15px;
  letter-spacing: 2px;
}

.swiper-slide .rating i {
  font-size: 15px;
}
